@model IEnumerable<TheBestRecipes.ViewModels.RecipeViewModel>

@{
	ViewBag.Title = "Onze verzamelde recepten";
}

<div class="row">
	<div class="col-md-9">
		<h1>Nynke & Menno's verzamelde recepten.</h1>
		<p>Dit zijn de recepten die wij lekker vinden en dus willen bewaren!</p>
	</div>
</div>
<p>
	<a asp-action="Create">Create New</a>
</p>
<div class="container">
	<div id="products" class="row equal">
		@foreach (var item in Model)
		{
			<div class="item  col-xs-4 col-lg-4">
				<div class="thumbnail">
					<a asp-controller="Recipes" asp-action="Details" asp-route-id="@item.Id">
						<img class="group list-group-image" src="~/images/@Html.DisplayFor(modelItem => item.ImagePath)" alt="" />
					</a>
					<div class="caption">
						<h4 class="group inner list-group-item-heading">
							@Html.DisplayFor(modelItem => item.Title)
						</h4>
					</div>
				</div>
			</div>
		}
	</div>
</div>